<h3>Расчёт стоимости доставки СДЭК</h3>

<%= form_for @calculator do f %>
  <%= f.label 'Город-отправитель', :city_shipment %>
  <%= f.select :city_shipment %>
  <%= f.label 'Город-отправитель', :city_delivery %>
  <%= f.select :city_delivery %>

  <%= f.label 'Тариф', :city_receiver %>
  <%= f.select :city_receiver %>
  <input name="tariffList1" value="10" hidden />
  <input name="tariffList2" value="137" hidden />

  <input name="modeId" value="3" hidden />
  <input name="dateExecute" value="2012-08-20" hidden />

  <input name="weight1" value="0.3" hidden />
  <input name="length1" value="10" hidden />
  <input name="width1" value="7" hidden />
  <input name="height1" value="5" hidden />

  <input name="weight2" value="0.1" hidden />
  <input name="volume2" value="0.1" hidden />

  <input type="submit" value="Посчитать">
</form>
